*.o
*.d
*.elf
*.map
*.asv
*.obj
*.pdb
CCSProj
Kvaser/LPTest/CCS
Kvaser/PDTest/CCS
BolshoyMain/CcsPrj/CPU1
BolshoyManipCpu2/CPU2
BolshoyBoot2/CPU2
BolshoyBoot/CcsPrj/CPU1
Malinki/Debug
MalinkiBoot/Debug